@use "../../scss/mixins/mixins.scss";
@use "../../scss/breakpoints/breakpoints";

.main_heading--layout {
    background: #312F22;
    min-height: 30vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p, h1 {
        text-align: center;
        color: #FFF;
    }

    p {
        display: block;
        margin: 0 auto 1rem auto;
        @include mixins.memeberSupportDesc;
        
    }

    h1 {
        @include mixins.supportTitle;
        font-size: 78px !important;
    }
}

.reach_out {
    
    .title {
        font-family: 'Rajdhani';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 140%;
        /* or 50px */

        display: flex;
        align-items: center;
        justify-content: center;
        /* Text */

        color: #23231B;
        text-align: center;
        opacity: 1;
    }

    .strapline {
        font-family: 'Rajdhani';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 140%;
        /* identical to box height, or 34px */

        display: flex;
        align-items: center;
        justify-content: center;
        /* Text */

        color: #23231B;
    }
}

.contact_form {
    form {
        display: flex;
        flex-direction: column;

        label {
            margin-top: 10px;
            margin-bottom: 2px;
        } 

        input, textarea {
            background: #FFFFFF;
            /* Accent 2 */

            border: 1px solid #968E3D;
            border-radius: 4px;

            &:focus {
                outline-style: none;
                background-color: transparent;
            }
        }

        input[type=submit] {
            padding: 0.4rem 0;
            background: #B92A20;
            color: white;
            width: auto;
            opacity: 1;
            border-radius: 3px;
            margin-top: 2rem;
            margin-bottom: 2rem;
            text-transform: uppercase;
            font-weight: bold;
            border: none;
        }
    }

    .contact_details--right {
        @include breakpoints.lg;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .contact_details {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        svg {
            border-radius: 50%;
            font-size: 25px;
        }
    }

    .contact_social--icons {
        list-style-type: none;
        padding: 0;
        margin: 20px 0;
        display: flex;

        li:not(:first-child) {
            margin: 0 20px;
        }

        svg {
            font-size: 24px;
        }
    }
}